/* 카드 레이아웃을 위한 스타일 */
.product-card-wrapper {
    display: flex;
    justify-content: center; /* 카드가 중앙에 배치되도록 */
    align-items: stretch; /* 카드의 높이를 맞추도록 */
}

/* 카드 사이의 여백을 위한 스타일 */
.col-card {
    padding: 0.5rem; /* 카드 주변의 여백 추가 */
}
