.main-page {
    background-image: url('/public/bgCarrott.png'); /* 배경 이미지 경로 */
    background-size: cover; /* 배경 이미지를 화면에 맞게 조정 */
    background-position: center; /* 배경 이미지를 중앙에 위치 */
    background-repeat: no-repeat; /* 배경 이미지가 반복되지 않도록 설정 */
    min-height: 100vh; /* 화면의 최소 높이 설정 */
    color: white; /* 텍스트 색상 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}